@import url(http://fonts.googleapis.com/css?family=Bangers);

// Redigerbart, jättevackert stylesheet
html {
    background-color: #FFFFFF;
    overflow-y: scroll;
}

body {
 font-family: 'Bangers',Arial;
 background-color: #008500;
 color: #FFC300;
}

.scale {
 width: 900px;
 margin: auto;
}

.input-area {
 width: 100%;
 height: 500px;
}



