/* fonts */
@font-face {
  font-family: pixel;
  src: url(../fonts/pixel.ttf);
}



/* 
  ============================
	Page
	============================
*/


html {
    background-color: #FFFFFF;
    overflow-y: scroll;
}
body {
    border: 2px solid #000000;
    color: #000000;
    font-family: pixel,Arial;
    font-size: 8pt;
    margin: auto;
    overflow: auto;
    width: 260px;
}
body a {
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}
body a:hover {
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
figure {
    float: right;
    margin: 8px;
    max-width: 70px;
    text-align: center;
}
hr {
    border: 2px dotted;
    color: #000000;
}
figure img,
output img {
    max-height: 40px;
    max-width: 40px;
}

input.pass {
	font-family:arial;
}

fieldset {
	border: 2px solid #000000;
}

/* 
	============================
	Article
	============================
*/

.page-article {
	padding:15px;
}

nav#side-menu {
	padding:0;
}

nav#side-menu h4{
	margin-bottom: 0;
    margin-top: 10px;
}

nav#side-menu ul,
nav#side-menu ul li ul{
	padding-left:0;
}

nav#side-menu ul li,
nav#side-menu ul li ul li{
	list-style-type: none;
}

nav#side-menu a{
    display: block;
    width: 100%;
}

select {
    background-color: #000000;
    border: none;
    color: #FFFFFF;
	width:100%;
	font-family:inherit;
	font-size:inherit;
}

input {
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
}

.input-area {
	border: 2px solid #000000;
	max-width: 200px;
	font-family: inherit;
    font-size: inherit;
}

/* 
	============================
	Footer
	============================
*/
footer {
    float: left;
    margin-left: 15px;
    width: 116px;
}
footer#bottom {
    overflow: auto;
    width: 100px;
}
footer#bottom p {
    float: left;
}
footer#bottom a {
    display: block;
    width: 100px;
}
	
/* 
	============================
	Html5-elements
	============================
*/	
header,footer,nav,article,section,aside,figure,figcaption{display:block;}
	
/* 
	============================
	Header
	============================
*/


header#above-header {
    background-color: #000000;
    display: block;
    float: left;
    font-size: 6.8pt;
    height: 65px;
}
header#above-header a {
    display: block;
    width: 50px;
}
img#logo {
    background-color: #000000;
    height: 65px;
    width: 210px;
}

/* 
	============================
	Navigation
	============================
*/

nav.navmenu {

}
	
nav.navmenu a { 
  border:2px solid #ffffff;
  outline:2px solid #000000;
}

/* Menu selection highlight */
body#me a#me-,
body#report a#report-,
body#php a#php-,
body#style a#style-,
body#source a#source- {
	color:#000000;
  background-color:#ffffff;
  border:2px solid;
  border-color:#000000;
}

		
