@import url("forms.css");
@import url("table.css");

/* 
	============================
	Page
	============================
*/

/* fonts */
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-CondLight.ttf);
}

@font-face {
  font-family: NewsCycle;
  src: url(../fonts/NewsCycle-Regular.ttf);
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Regular.ttf);
}

/* ----------- */

html {
	background-color: #28272D;
	overflow-y: scroll; 
}

body {
	/*font-family: NewsCycle,Arial,sans-serif;*/
	font-family: FiraSans, sans-serif;
	color: #c4c4c4;
	/*color: #303030;*/
	margin: 0 0 0 0;
	font-size: 10pt;
}

body a{
	color: #999999;
	text-decoration:none;
}

body a:hover{
	color: #9600d7;
	text-decoration:underline;
}

h1 {
    border-bottom: 2px solid rgba(105, 19, 220, 0.35);
    font-family: OpenSans,sans-serif;
    font-size: 30px;
}

body hr {
	/*border-style: dashed;*/
	border-style: line;
	border-color: rgba(247, 87, 247, 0.34);
}

div.intro-end hr {
	margin-bottom: 10px;
}

div.intro-end hr {
	border-style: line;
	border-color: rgba(247, 0, 247, 0.34);
}

.right{
	float:right;
}
.nomargin{
	margin: 0 0 0 0;
}

.scale {
	width:900px;
	margin: 0 auto 0 auto;
	min-width:900px;
}

.banner-width {
	width: 100%;
    max-width: 1600px;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

.fill {
	width: 100%;
}

div.article-column {
	width: 90%;
	margin-top: 30px;
    margin-bottom: 60px;
}

div.subarea {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 30px;
}

/* 
	============================
	Article
	============================
*/
div#wrapper {
	margin: 0px auto 25px auto;
	/*background: #383838;*/
	overflow: auto;
	padding-bottom: 15px;
}

article.page-article {
	margin: 15px;
}

section.article-section {
	overflow: auto;
}

header.article-header {
	text-align: left;
}

aside.article-aside {
	float:left;
	margin-right: 20px;
	background-color: #000000;
}

figure.logo-fig {
	margin-left: 0px;
	margin-top: 30px;
}

figure.article-fig {
	display:inline-block;
	font-size: 10pt;
    font-style: italic;
    margin: 15px 30px;
    margin: 10px;
    text-align: center;
}
	
nav#side-menu {
	margin:10px;
}

.input-area {
	width:100%;
	max-width:530px;
}

section.intro-section {
	/*background: black;*/
}

section.videos-section {
	width: 700px;
	margin: auto;
	/*background: black;*/
}

section.videos-section h2 {
	font-family: OpenSans,sans-serif;
	font-size: 18pt;
}

/* 
	============================
	Game List
	============================
*/
	
section.projects-section {
	overflow: auto;
	/*border-style: dashed;*/
	width: 700px;
	margin: auto;
	margin-top: 40px;
	/*background: black;*/
}

section.projects-section h1{
    border-bottom: 2px solid #4F41CA;
    font-family: OpenSans,sans-serif;
    font-size: 17pt;
	margin: 1px;
	margin-bottom: 5px;
}

section.projects-section h1#personal{
    border-bottom: 2px solid #6DA583;
}

section.projects-section h1#jams{
    border-bottom: 2px solid #A58650;
}

section.projects-section h2{
    border-bottom: 2px solid #2C2C2C;
    font-family: OpenSans,sans-serif;
    font-size: 12pt;
	margin: 1px;
}

section.projectitem-section {
	color: #d0d0d0;
	background: rgba(0, 0, 0, 0.29);
	margin-bottom: 40px;
	width: 300px;
	/*height: 250px;*/
	position: relative;
	overflow: hidden;
}

div.projectitem-body {
	/*display: flex;*/
	border: 1px;
	/*height: 100px;*/
}
	
figure.projectitem-fig {
	/*width: 300px;
	height: 250px;
	background: darkblue;
	font-size: 10pt;
    font-style: italic;*/
    margin: 0px;
	padding: 0px;
    text-align: center;
	overflow: hidden;
}



div.projectitem-column {
	/*flex: 1;
	background: rgba(0,0,0,0.9);*/
	font-size: 9pt;
	margin: 0px;
	padding-top: 3px;
	padding-left: 3px;
	/*position: absolute; */
	bottom: 0px; 
	left: 0; 
}

div.projectitem-column p {
	margin-top: 0px;
	margin-bottom: 5px;
}

div.project-column {
	float: left;
	width: 300px;
	display: block;
}

div.games-column {
	float: right;
	width: 300px;
	display: block;
}
	
/* 
	============================
	Footer
	============================
*/

footer{
	font-size: 10pt;
	font-style:italic;
	color: #a8a8a8;
	padding: 10px;
	padding-left: 30px;
	background-color: #1d1d1d;
}

footer.list{
	list-style-type: circle;
}

footer.byline {
	clear:both;
	overflow:auto;
}

footer#bottom {

}

footer#bottom a {
	padding-right: 5px;
}
footer#bottom a:link		{}
footer#bottom a:visited 	{}
footer#bottom a:hover 		{}
footer#bottom a:active		{}

	
/* 
	============================
	Html5-elements
	============================
*/	
header,footer,nav,article,section,aside,figure,figcaption{display:block;}
	
/* 
	============================
	Header
	============================
*/

header.page-header {
	position:relative;
}

header#above-header {
	background: #000000;
	color: #ffffff;
}
header#above-header a {
	padding: 10px;
}

header#main-header {
	width:100%;
	background-repeat: no-repeat;
	background-position: center;
}
/* Different images based on category */
body#me header#main-header,
body#login header#main-header {
	background-image: url(../images/banner_img_me.png);
}
body#report header#main-header {
	background-image: url(../images/banner_img_report.png);
}

body#php header#main-header {
	background-image: url(../images/banner_img_php.png);
}

body#style header#main-header {
	background-image: url(../images/banner_img_css.png);
}

body#source header#main-header {
	background-image: url(../images/banner_img_src.png);
}

.main-header-height {
	height:300px;
}


header.img#logo {

}

div#header-overlay {
	position: absolute;
	bottom: 0;
}

img#logo {
	position: relative;
}

nav.login {
    display: inline;
    float: right;
}

/* 
	============================
	Navigation
	============================
*/

nav.navmenu {
	position: absolute;
	right:0px;
	bottom:0px;
	display: block;
	background-color: #000000;
	background-color: rgba(0,0,0,0.7);
	height: 50px;
}
	
nav.navmenu a { 
    color: #CACACA;
    display: inline-block;
    font-family: OpenSans,Arial,sans-serif;
    font-size: 15pt;
    margin: 12px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: -1.5px 0 0 #000000;
    width: 50px;
}

/* Menu selection highlight */
body#me a#me-:after,
body#report a#report-:after,
body#php a#php-:after,
body#ebaj a#ebaj-:after,
body#style a#style-:after,
body#source a#source-:after {
	/* Create a triangle pointing
	   from article to button 
	   (exploits the way borders are rendered)*/
    border-color: #383838 transparent;
    border-style: solid;
    border-width: 0 15px 15px;
    bottom: auto;
    content: "";
    display: block;
    left: 10px;
    position: absolute;
    top: 48px;
    width: 0;
}
	
nav.navmenu a:link		{}
nav.navmenu a:visited 	{}
nav.navmenu a:hover { 
	color: #ffffff; 
	/* background: #999999; */
	text-shadow: 0px -2px 8px #F4FFDE;
	border-top: 2px;	
}
nav.navmenu a:active	{}
		
